<% object ||= local_assigns[:object] %>
<% if object&.errors&.any? %>
  <ul style="margin: 0; padding: 0; list-style: none;">
    <% object.errors.full_messages.each do |message| %>
      <li style="color: #CD5C5C; margin-bottom: 5px; font-size: 14px; line-height: 1.4;">
        • <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>